* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 15px;
  font-weight: 400;
}

.container {
  background-color: #c4c4c4;
  max-width: 755px;
  margin: 0 auto;
}

.header-container {
  border-bottom: 1px solid #000;
  position: relative;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 26px 33px;
}

.header-content img {
  margin-right: 31px;
}

.header-images {
  display: flex;
  position: absolute;
  top: 79px;
  right: 50px;
  z-index: 2;
}

.header-images li {
  margin-right: 20px;
}

.header-images li:last-child {
  margin-right: 0;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
